<div class="container d-flex justify-content-center my-5">
  <div class="col-4">
    <div class="text-center" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="row">
      <h1>Login</h1>
    </div>
    <div class="form-group">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-label">Name</div>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="row">
          <div class="form-label">Email</div>
          <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="row">
          <div class="form-label my-2">Password</div>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="row">
          <div class="form-label my-2">Confirm Password</div>
          <input type="password" class="form-control" formControlName="password1">
        </div>
        <div class="row m-3">
          <div class="btn-group">
            <button class="btn btn-dark" [disabled]="!profileForm.valid">Login</button>
          </div>
        </div>
      </form>
      <div class="row">
        <p>Already have an account? <a routerLink="/login">Login</a></p>
      </div>
    </div>
  </div>
</div>
